body{
    margin: 0;
    background-color: black;
    
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
    align-items: center;
}
.links{
    margin-right: 20px;
}
.links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}
.banner{
    background-image: url(Grenze.png);
    height: 900px;
    text-align: center;
    color: white;
    position: relative;
    font-size: 40px;
    
}
.bannerText{
    position: absolute;
    text-align: center;
    width: 100%;
} 
.card1{
    width: 400px;
    color: white;
    margin-right: 20px ;
    text-align: center;
    border: 1px solid black;
    border-radius: 40px ;
    transition: 0.5s all ease ;
}
.cards{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
    
}

.card1 img{
    border-radius: 40px;
}
.footer{
    height: 100px;
    background-color: white;
}
input[type = submit] {
    width: 100%;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    transition: 0.5s all ease;
}
input[type = text],select{
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type = text]{
    transition: 0.5s all ease;
    margin-top: 20px;
}
input[type = text]:focus {
    background-color: gray;
    transition: 0.2s;
}
input[type = text]:hover{
    opacity: 0,1%;
    background-color: gray ;
    transform: translateX(10px);
    transform: translateY(-10px);
    
}
.formGen{
    margin: 150px 0px;
    padding: 20px;
    margin: 10px 270px;
    color: white;
    
}

.footer  {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}
.footer i {
    padding: 15px;
    font-size: 30px;
}
.card1:hover{
    opacity: 40%;
    transform: translateY(-10px);
    
}
input[type = submit]:hover {
    transform: translateY(-10px);
}

